<section id="home" class="overflow-hidden relative scroll-mt-32">
  <div
    class="mx-auto 2xl:max-w-7xl border-b-2 border-black 2xl:border-x-2 bg-lila-500 relative overflow-hidden">
    <img
      class="absolute shadow-large rounded-full shadow-black w-72 h-72 -top-20 -right-20 hidden lg:block"
      src="/images/blob3.svg"
      alt="your alt-text"
    />

    <img
      class="absolute shadow-large rounded-full shadow-black w-72 h-72 -bottom-20 left-12 hidden lg:block"
      src="/images/blob4.svg"
      alt="your alt-text"
    />
    <img
      class="absolute w-96 shadow-large rounded-full shadow-black h-96 -bottom-32 -right-20 hidden lg:block"
      src="/images/blob1.svg"
      alt="your alt-text"
    />
    <img
      class="absolute shadow-large rounded-full shadow-black w-72 h-72 bottom-12 -left-20 hidden lg:block"
      src="/images/blob2.svg"
      alt="your alt-text"
    />
    <img
      class="absolute shadow-large rounded-full shadow-black w-72 h-72 -top-48 left-52 right-52 hidden lg:block"
      src="/images/blob5.svg"
      alt="your alt-text"
    />

    <div class="text-center mx-auto p-8 lg:p-20 lg:py-48 relative">
      <div class="mx-auto max-w-2xl">
        <h1 class="text-5xl lg:text-9xl font-medium text-black text-balance">
          Engagement Amplified
        </h1>
        <p class="xl:text-xl text-black tracking-wide  mt-4 text-balance">
          Turn social media into lasting customer relationships with our human first comment marketing.
        </p>
      </div>
      <div class="flex mt-10 justify-center">
        <a
          class="text-black items-center shadow shadow-black text-lg font-semibold inline-flex px-6 focus:outline-none justify-center text-center bg-white border-black ease-in-out transform transition-all focus:ring-lila-700 focus:shadow-none border-2 duration-100 focus:bg-black focus:text-white sm:w-auto py-3 rounded-lg h-16 focus:translate-y-1 w-full hover:text-lila-800 tracing-wide"
          href="/#pricing"
          title="link to your page"
          aria-label="your label"
          >Drive Revenue with Social
        </a>
      </div>
    </div>
  </div>
</section>
