---
// Define the content for each feature in an array
const features = [
  {
    title: "Reddit",
    description:
      "While others spam, we become trusted voices in your subreddits. We find the threads that matter, answer real questions, and build authority that converts lurkers into customers.",
  },
  {
    title: "LinkedIn",
    description:
      "We target decision-makers in their natural habitat. By engaging thoughtfully in professional discussions, we transform your expertise into warm leads – no connection request needed.",
  },
  {
    title: "Quora",
    description:
      "Every day, your future customers ask questions about problems you solve. We position your solutions at the exact moment they're searching, turning curiosity into clicks.",
  },
  {
    title: "X + Spaces",
    description:
      "Our team of real people actively contributes in Spaces, engaging in live discussions and Q&A sessions, building genuine connections and trust. This fosters a sense of community and encourages meaningful interactions with your target audience.",
  },
  {
    title: "Facebook + Groups",
    description:
      "We engage in active communities and groups relevant to your industry. By adding genuine value to conversations and responding to real inquiries, we build trust and foster relationships that drive engagement and conversions without overtly selling.",
  },
  {
    title: "Instagram",
    description:
      "Through strategic engagement on posts, Stories, and Reels, we interact with followers in your niche by responding to questions, sharing helpful tips, and showcasing your brand’s personality. PS - We got memes.",
  },
];
---

<section>
  <div
    class="relative items-center w-full mx-auto 2xl:max-w-7xl 2xl:border-x-2 border-b-2 border-black">
    <div class="relative p-8 lg:p-20 items-center gap-12 h-full bg-yellow-500">
      <div class="text-center max-w-4xl mx-auto">
        <h2 class="text-4xl lg:text-5xl font-medium text-black">
          Your Brand Wins When Your Brand is Everywhere... Thoughtfully
        </h2>
      </div>
      <div class="relative items-center w-full mx-auto mt-12">
        <img
          class="object-cover w-full lg:rounded-full h-96 border-2 border-black object-top bg-white"
          src="/images/collab.svg"
          alt="your alt-text"
        />
      </div>
      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:text-center lg:grid-cols-3 gap-6 lg:gap-12 mt-12">
        {
          features.map((feature) => (
            <div>
              <h2 class="text-3xl text-black font-medium">{feature.title}</h2>
              <p class="text-lg tracking-wide text-black mt-4">
                {feature.description}
              </p>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
