---
// Define the features array
const features = [
  {
    imgSrc: "/images/blob1.svg",
    title: "Deep Customer Understanding",
    description:
      "Deep-dive into your product, customers, and voice. No templates. No shortcuts. You get a dedicated strategist who learns why customers choose you – then amplifies it.",
  },
  {
    imgSrc: "/images/blob2.svg",
    title: "Strategic Conversation Targeting",
    description:
      "We identify high-value discussions across LinkedIn, Twitter, Reddit, and Quora where your voice matters most. No spam, no irrelevant posts—just meaningful engagement that builds authority.",
  },
  {
    imgSrc: "/images/blob3.svg",
    title: "Reports & Communication",
    description:
      "Daily Slack updates. Weekly conversion tracking. Monthly strategy calls. You'll see exactly how we turn social proof into sales. No mysteries, just methodical growth.",
  },
];
---

<section id="features" class="relative flex items-center w-full scroll-mt-32">
  <div
    class="relative items-center w-full mx-auto 2xl:max-w-7xl 2xl:border-x-2 border-b-2 border-black">
    <div class="relative p-8 lg:p-20 items-center gap-12 h-full bg-yellow-500">
      <div class="text-center max-w-4xl mx-auto">
        <h2 class="text-3xl lg:text-5xl font-medium text-black">
          High-Touch
          <span class="md:block">Comment Marketing Works</span
          >
        </h2>
        <p class="xl:text-xl text-black tracking-wide max-w-xl mx-auto mt-4">
          We are a team of salespeople, marketers, and social media experts. We engage with your audience on your company's behalf to <strong>Increase Brand Awareness</strong> and <strong>Drive Revenue</strong>.
        </p>
      </div>

      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:text-center lg:grid-cols-3 gap-6 lg:gap-12 mt-12">
        {
          features.map((feature) => (
            <div>
              <img
                class="size-20  mx-auto"
                src={feature.imgSrc}
                alt={feature.title}
              />
              <h2 class="text-3xl text-black font-medium mt-8">
                {feature.title}
              </h2>
              <p class="text-lg tracking-wide text-black mt-4">
                {feature.description}
              </p>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
