---
// Define the content for each feature in an array
const features = [
  {
    title: "Why Reddit?",
    description:
      "Unless you've been living under a rock, you've probably noticed Reddit popping up everywhere since Google started using their data to train AI. We take advantage of this built in SEO and use it to drive traffic to your brand.",
  },
  {
    title: "How does it work?",
    description:
      "We research existing threads already ranking at the top of Google for your keywords. The secret is in the comments. We find the threads with the most traffic and boost comments to the top with your brand in mind.",
  },
  {
    title: "That sounds easy!",
    description:
      "Yes and no. Finding the right keywords is simple, but the real work is in the execution. A comment will be removed because it is 'spam' 80% of the time. Our comments stick. If we told you how we did this we wouldn't have a business.",
  },
  {
    title: "How can I do it?",
    description:
      "GummySearch, GigaBrain, SubRedditStats, Tools by Anvaka, SemRush/AHREFS, DataForSEO API, Mangools, Custom AI Agents (for research), 1 year of previous SubReddit posting history, multiple Reddit accounts, and a lot of caffeine.",
  },
  {
    title: "I hate spam!",
    description:
      "And so do we. You've probably seen our comments and purchased a product we promoted that genuinely helped you. We're not here to spam, we're here to help grow your business. And we're really good at it.",
  },
  {
    title: "Now what?",
    description:
      "You can hire a social media manager or Agency, but nobody knows Reddit like we do. We're half the cost and will beat any Marketing Agency any day of the week. If you're looking for a partner to grow your business, we're your company.",
  },
];
---

<section>
  <div
    class="relative items-center w-full mx-auto 2xl:max-w-7xl 2xl:border-x-2 border-b-2 border-black">
    <div class="relative p-8 lg:p-20 items-center gap-12 h-full bg-yellow-500">
      <div class="text-center max-w-4xl mx-auto">
        <h2 class="text-4xl lg:text-5xl font-medium text-black">
          Your Brand Wins When Your Brand is Everywhere... Thoughtfully
        </h2>
      </div>
      <div class="relative items-center w-full mx-auto mt-12">
        <img
          class="object-cover w-full lg:rounded-full h-96 border-2 border-black object-top bg-white"
          src="/images/collab.svg"
          alt="your alt-text"
        />
      </div>
      <div class="text-center max-w-4xl mx-auto">
        <h2 class="text-4xl lg:text-5xl font-medium text-black mt-12">
        Reddit Marketing  
        </h2>
        <p class="text-lg tracking-wide text-black mt-4">
          While others spam, we become trusted voices in your subreddits. We place your brand at the top of Reddit threads, and thus top of mind. Check out how it works below.
        </p>
      </div>
      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:text-center lg:grid-cols-3 gap-6 lg:gap-12 mt-12">
        {
          features.map((feature) => (
            <div>
              <h2 class="text-3xl text-black font-medium">{feature.title}</h2>
              <p class="text-lg tracking-wide text-black mt-4">
                {feature.description}
              </p>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
